@media (max-width:992px) {
    .consultation{
        padding-left: 0;
        text-align: center;
    }
    .title_left{
        text-align: center;
        font-size: 31px;
    }
    .order-form{
        margin:36px auto;
    }
    .catalog-item{
        margin: 44px;
    }
    .catalog_tabs_tab{
        &:hover{
            box-shadow: none;
        }
    }
}




@media (max-width: 768px){
    .xl-hide{
        display: none;
    }
    .choice{

        &_wrapper{
            align-items:center;
            &_title{
                font-size: 35px;
            }
            &_subtitle{
                font-size: 21px;
            }
        }
    }
    .benefit_item_title{
        font-size: 16px;
    }
    .catalog-item{
        margin: 20px  auto;
    }
    .catalog{
        
        &_tabs{
            flex-direction: column;
            width: 100%;
            &_tab{
                width: 100%;
                margin: 10px auto;
                &:hover{
                    box-shadow:none;
                }
            }
        }
        &_content{
            margin-top: 220px;
        }
    }
}

@media (max-width: 576px){
    .header_logo{
        width: 200px;
    }

    .choice_wrapper{
        &_title{
            font-size: 31px;
        }
        &_subtitle{
            font-size: 18px;
        }
    }
    .title_left {
        text-align: center;
        font-size: 26px;
    }
    .consultation_subtitle {
        font-size: 17px;
        
    }
    .benefit{
        &_items{
            flex-direction: column;

        }
        &_item{
            margin: 20px auto;

            &_title{
                margin-top: 20px;
            }
        }
    }
    
    .catalog{
        .title{
            font-size: 29px;
        }
    }
    
    
}