@import "base/variables.scss";
@import "base/animation.scss";
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 100px;
}

@import "blocks/general";
@import "blocks/title";
@import "blocks/choice";
@import "blocks/header";
@import "blocks/button";
@import "blocks/benefits";
@import "blocks/consultation";
@import "blocks/forms";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/catalog-item";
@import "blocks/review";
@import "blocks/map";
@import "blocks/modal";
@import "media";

