.benefit{
    width: 100%;
    min-height: 473px;
    padding: 71px 0 64px 0;
    background: #F6F6F6;
    &_items{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: top;
        margin-top: 60px;
    }
    &_item{
        width: 270px;
        &_icon{
            width: 70px;
            height: 70px;
            margin: 0 auto;
        }
        &_title{
            font-weight: 700;
            font-size: 18px;
            color: #0D0D0D;
            text-align: center;
            margin-top: 35px;
        }
        &_txt{
            font-weight: 300;
            font-size: 14px;
            text-align: center;
            line-height: 18px;
            color: #0D0D0D;
            margin-top: 20px;
            &:nth-child(3){
                a{
                    font-weight: 300;
                    font-size: 14px;
                    text-decoration-line: underline;
                    color: #FF0000;
                }
            }
        }

    }
}