.map{
    position: relative;
    height: 630px;
    width: 100%;
    &_info{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background: $main-color;
        padding: 50px 0 56px 0;
    }
    &_address{
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        color: #FFFFFF;
    }
    &_number{
        margin-top: 36px;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        
        a{
            color: #FFFFFF;
            text-decoration: none;
        }

    }
}



.social_icons{
    width: 212px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 36px;
    &_item{
        width: 53px;
        height: 52px;
        border-radius: 100%;
        border:2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        color: #FFFFFF;
        cursor: pointer;
        &:hover{
            background: #FFFFFF;
            color:red;
        }
    }
    
}